---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<input type="checkbox" id="sidebar-active">
			<label for="sidebar-active" class="open-sidebar-button">
				<svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
			</label>


			<label for="sidebar-active" id="overlay"></label>
			<div class="links-container">
				<label for="sidebar-active" class="close-sidebar-button">
					<svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
				</label>
				<a href="#" class="home-link">Home</a>
				<a href="/about">About</a>
				<a href="#">Products</a>
				<a href="#">Services</a>
				<a href="#">Contact</a>
			</div>
			<!-- <ul>
				 <li><a href="#">Home</a></li>
				 <li><a href="#">About</a></li>
				 <li><a href="#">Services</a></li>
				 <li><a href="#">Hello</a></li>
				 <li><a href="#">Contact</a></li>
				 </ul> -->
		</nav>
		<h1>Good morning to my bestest friend!😘😍</h1>
		<h1>Astro</h1>
	</body>
</html>


<style>
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
	 list-style-type: none;
	 text-decoration: none;
 }
 :root{
	 --color-1: #0f1016;
	 --text-color:#f0f0f0;
	 --accent-color: #006aff;
 }

 html{
	 font-size: 12pt;
	 font-family: Poppins, Segoe UI, Tahoma, sans-serif;
 }

 nav{
	 height: 60px;
	 background-color: var(--color-1);
	 display: flex;
	 justify-content: flex-end;
	 align-items: center;
 }

 .links-container{
	 height: 100%;
	 width: 100%;
	 display: flex;
	 flex-direction: row;
	 align-items: center;
 }
nav a{
	height: 100%;
	padding: 0 20px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--text-color);
	transition: 0.75s ease-in-out;
 }

 nav a:hover{
	 background-color: var(--accent-color);
 }

 nav .home-link{
	 margin-left: auto;
 }

 nav svg{
	 fill: var(--text-color);
	 cursor: pointer;
 }

 #sidebar-active{
	 display: none;
 }
 .open-sidebar-button, .close-sidebar-button{
	 display: none;
	 /* padding: 0 20px; */
 }

 @media only screen and (max-width:550px){
	 .links-container{
		 flex-direction: column;
		 align-items: flex-start;

		 position: fixed;
		 top: 60px;
		 right: -100%;
		 z-index: 10;
		 width: 75%;
		 max-width: 400px;

		 background-color: var(--color-1);
		 box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
		 transition: 0.75s ease-out;
	 }

	 nav a{
		 box-sizing: border-box;
		 height: auto;
		 width: 100%;
		 padding: 20px 30px;
		 justify-content: flex-start;
	 }

 .open-sidebar-button, .close-sidebar-button{
	 padding: 20px;
	 display: block;
 }
	 #sidebar-active:checked ~ .links-container{
		 right: 0;
	 }

	 #overlay{
		 transition: 0.75s ease-out;
	 }

	 #sidebar-active:checked ~ #overlay{
		 background-color: rgba(0, 0, 0, 0.65);
		 height: 100%;
		 width: 100%;
		 position:fixed;
		 top:0;
		 left:0;
		 z-index:9;
	 }

	 #sidebar-active:checked ~ .open-sidebar-button{
		 display: none;
	 }
 }

</style>
